<p><strong>Mizipiets</strong></p>
<br/>
<h2>Did you change your password?</h2>
<p>Hi {{firstname}},</p>
<p>
    We noticed the password for your Mizipiets account was recently change.<br/>
    If this was you, you can safely disregard this email.
</p>
<h3>Otherwise, please change your password.</h3>
<br/>
<p>Sent with love from Mizipiets</p>
