<p><strong>Mizipets</strong></p>
<br/>
<h2>Avez vous changé votre mot de passe?</h2>
<p>Bonjour {{firstname}},</p>
<p>
    Nous avons remarqué que votre mot de passe a été changé récemment.<br>
    Si vous l'avez changé, vous pouvez ignorer cet email.
</p>
<h3>Otherwise, please change your password.</h3>
<h3>Si non, Changez votre mot de passe au plus vite!</h3>
<br/>
<p>Sent with love from Mizipiets</p>
