<p><strong>Mizipets</strong></p>
<br/>
<p>Bonjour {{firstname}},</p>
<p>
    Nous avons remarque que votre compte a recemment été fermé<br/>
    Si vous etes à l'origine de l'action, vous pouvez ignorer cet email.
</p>
<h3>Si non, contactez nous dès que possible!</h3>
<br/>
<p>Sent with love from Mizipiets</p>
