<p><strong>Mizipets</strong></p>
<br/>
<p>Hi {{firstname}},</p>
<p>
    We noticed the Mizipiets account was recently closed.<br/>
    If this was you, you can safely disregard this email.
</p>
<h3>Otherwise, please contact us !</h3>
<br/>
<p>Sent with love from Mizipiets</p>
