<p><strong>Mizipiets</strong></p>
<br/>
<h2>Did you connect to your Mizipets account with a new device ?</h2>
<p>Hi {{firstname}},</p>
<p>
    We noticed a new device connected to your Mizipiets account.<br/>
    If this was you, you can safely disregard this email.
</p>
<h3>Otherwise, please contact us as soon as possible.</h3>
<br/>
<p>Sent with love from Mizipiets</p>