<p><strong>Mizipets</strong></p>
<br/>
<p>Bonjour {{firstname}},</p>
<p>
    Besoin de changer votre mot de passe?<br/>
    Utilisez votre code secret:<br/>
</p>
<h2>{{code}}</h2>
<p>Si vous n'avez pas oublié votre mot de passe, vous pouvez ignorer cet email.</p>
<br/>
<p>Sent with love from Mizipiets</p>
