<p><strong>Mizipets</strong></p>
<br/>
<p>Hi {{firstname}},</p>
<p>
    Need to reset your password?<br/>
    Use your secret code:<br/>
</p>
<h2>{{code}}</h2>
<p>If you did not forget your password, you can ignore this email.</p>
<br/>
<p>Sent with love from Mizipiets</p>
