<p><strong>Mizipets</strong></p>
<br/>
<h3>Bienvenue sur Mizipets.</h3>
<p>Bonjour {{firstname}},</p>
<p>vous faites maintenant partie d'une communauté qui aime les animaux.</p>
<p>Que ce passe t-il ensuite? ?</p>
<br/>
<p>Découvrez nos services</p>
<p><strong>Mes Animaux</strong></p>
<p><strong>Adoption</strong></p>
<p><strong>Conseils et articles</strong></p>
<br/>
<p>Sent with love from Mizipiets</p>
