<p><strong>Mizipets</strong></p>
<br/>
<h3>Welcome to Mizipiets.</h3>
<p>Hello {{firstname}},</p>
<p>you're now part of a community that loves pets.</p>
<p>What happen next ?</p>
<br/>
<p>You can discover our services</p>
<p><strong>Animals</strong></p>
<p><strong>Adoption</strong></p>
<p><strong>Pets advices and articles</strong></p>
<p><strong>Veto</strong></p>
<br/>
<p>Enjoy !</p>
<p>Sent with love from Mizipiets</p>
